<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>NSAppTransportSecurity</key>
    <dict>
        <key>NSAllowsArbitraryLoads</key>
        <true/>
        <key>NSExceptionDomains</key>
        <dict>
            <key>ec2-54-219-186-173.us-west-1.compute.amazonaws.com</key>
            <dict>
                <key>NSExceptionAllowsInsecureHTTPLoads</key>
                <true/>
            </dict>
        </dict>
    </dict>
    <key>UIApplicationSceneManifest</key>
    <dict>
        <key>UIApplicationSupportsMultipleScenes</key>
        <false/>
        <key>UISceneConfigurations</key>
        <dict>
            <key>UIWindowSceneSessionRoleApplication</key>
            <array>
                <dict>
                    <key>UISceneConfigurationName</key>
                    <string>Default Configuration</string>
                    <key>UISceneDelegateClassName</key>
                    <string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
                    <key>UISceneStoryboardFile</key>
                    <string>Main</string>
                </dict>
            </array>
        </dict>
    </dict>
    <!-- Add this key for location permission -->
    <key>NSLocationWhenInUseUsageDescription</key>
    <string>We need your location to show nearby gyms and trainers.</string>
    <!-- Added BASE_URL key -->
    <key>BASE_URL</key>
    <string>http://ec2-54-219-186-173.us-west-1.compute.amazonaws.com/</string>
    <!-- Added key for camera permission -->
    <key>NSCameraUsageDescription</key>
    <string>Allow the app to scan cards.</string>
</dict>
</plist>
